

 
  <style>
    body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* This pushes footer to bottom if content is less */
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #1B262C;
  height: 10rem;
  color: white;
  margin-top: 3rem;
}

  </style>

  <footer>
    <div class="footer-child">
      <span>.bitBros</span>
      <span>
        <span>Privacy</span>
        <span>Terms</span>
      </span>
      <span>All copyrights Reserved @.bitBros</span>
    </div>
  </footer>
