body{
    background-color: #F9FBFC;

}

h1, h2, h3, h4, button {
  font-family: 'Manrope', sans-serif !important;
}

body, p, li, a {
  font-family: 'Public Sans', sans-serif !important;
}

button{
  background-color: #00B7C2 !important;
  padding: 0.5rem !important;
  border: none !important;
  border-radius: 10px !important;
  margin: 0.3rem !important;
  font-size: 1.2rem;

}

button:hover{
  background-color: #0099a6 !important;
}